* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, serif;
    background-color: #f4f2da;
}

header h1 {
    text-align: center;
    margin-top: 15px;
    font-size: 32px;
    font-weight: bold;
}

.menu {
    width: 700px;
    background-color: #7a8753;
    border-radius: 10px;
    margin: 15px auto;
    padding: 20px;
    text-align: center;
    list-style: none;
    border-bottom: solid 2px rgba(0,0,0,0.3);
    border-left: solid 2px rgba(0,0,0,0.3);
}

.menu li {
    display: inline-block;
}

.menu a {
    text-decoration: none;
    background-color: #2f5c36;
    color: #FFF;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    margin: 5px;
    border-bottom: solid 2px rgba(0,0,0,0.3);
    border-left: solid 2px rgba(0,0,0,0.3);
}

.main-container {
    width: 700px;
    background-color: #fffdf2;
    padding: 30px;
    margin: 15px auto;
    border-radius: 10px;
}

.main-container h2 {
    text-align: center;
    margin-bottom: 15px;
}

.footer-container {
    width: 700px;
    color: white;
    background-color: #7a8753;
    border-radius: 10px;
    margin: 15px auto;
    padding: 10px;
    text-align: center;
    border-bottom: solid 2px rgba(0,0,0,0.3);
    border-left: solid 2px rgba(0,0,0,0.3);
}